@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
	}
.container{
	width:100%;
	height: 100%;
	background:#F0FFFF;
	}
.title{
	width:100%;
	height:45px;
	line-height:45px;
	color:#fff;
	font-size:16px;
	background:#069;
	text-align:center;
	
	}
.content{
	width:80%;	
	margin:0 auto;
	background:#fff;
	}
.title_one{
	width:100%;
	background:#fff;
	height:120px;
	}
.title_two{
	position:relative;
	float:left;
	width:30%;
	color:rgb(0,205,205);
	font-size:24px;
	top:35px;
	height:35px;
	line-height:35px;
	}
.title_three{
	position:relative;
	top:-23px;
	float:right;
	width:80%;
	border:1px solid #fff;
	height:70px;
	}
.ul1{
	width:70%;
	float:right;

	}
.li1{
	width:20%;
	height:35px;
	line-height:35px;
	margin-left:5px;
	background:#00EEEE;
	list-style:none;
	float:right;
	text-align:center;
	color:#fff;
	}
.li1:hover{
	background: -webkit-linear-gradient(left, rgba(0,205,205,0), rgba(0,205,205,1)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgba(0,205,205,0), rgba(0,205,205,1)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgba(0,205,205,0), rgba(0,205,205,1)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgba(0,205,205,0), rgba(0,205,205,1)); /* 标准的语法（必须放在最后） */
	}
.binary{
	position:relative;
	border:1px solid #ccc;
	width:97%;
	padding-left:3%;
	background:#fff;
	}
.binary:hover{
	border:1px solid #09C;
	}
.binary_title,.single_title,.multiple_title,.fill_title{
	width:94%;
	height:50px;
	border-bottom:1px solid #ccc;
	line-height:50px;
	padding-left:3%;
	padding-right:-3%;
	font-size:16px;
	
	}
.span1{
	color:#ccc;
	font-size:12px;
	}


.ul2{
	width:96%;

	margin-bottom:10px;
	}
.li2{
	list-style:none;
	width:100%;
	height:35px;
	margin-bottom:15px;
	}
.li3:hover{
	background:#8DEEEE;
	cursor:pointer;
	}
a{
	text-decoration:none;
	color:#fff;
	}
/*单选题样式*/
.single{
	position:relative;
	border:1px solid #ccc;
	width:97%;
	padding-left:3%;
	background:#fff;
	margin-top:20px;
	}
.single:hover{
	border:1px solid #09C;
	}
.multiple{
	position:relative;
	border:1px solid #ccc;
	width:97%;
	padding-left:3%;
	background:#fff;
	margin-top:20px;
	}
.multiple:hover{
	border:1px solid #09C;
	}
.fill{
	position:relative;
	border:1px solid #ccc;
	width:97%;
	padding-left:3%;
	background:#fff;
	margin-top:20px;
	}
.fill:hover{
	border:1px solid #09C;
	}
.button{
	width: 100%;
	height: 60px;
	text-align: center;
	margin-top:20px;	
	}
.button1{
	margin-top:2%;
	width:120px;
	height:35px;
	border: 1px solid #09c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:#dbeef5;
	}
.button1:hover{
	background:#fff;
	cursor:pointer;
	}
.foot{
	width:100%;
	background:#EEE9E9;
	color:#8B8682;
	font-size:14px;
	text-align:center;
	height:30px;
	line-height:30px;
	}
.binary,.single,.multiple,.fill{
	background:#FFFAFA;
	}