@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	background:#CFF;
	}
#test-one{
	height: 100%;
	position:absolute;
	width: 100%;
	}
.title{
	height:10%;
	line-height:60px;
	color:white;
	background:#069;
	}
.middle{
	width: 80%;
	margin:0 auto;
	height:85%;
	background:#fff;
	}

.tfoot{
	width: 100%;
	height:5%;
	text-align: center;
	line-height:40px;
	background:#ccc;
	color:#666;
	font-size:10px;
	}
ul {
	list-style:none;
	height: 100px;	
	width:100%;
}
li{
	height: 40px;
	border-bottom: 1px dashed #ccc;
	line-height: 40px;	
	width:100%;
	margin-left:-40px;
	}
.span1{
	margin-left:20px;
	
	}
.span2{
	position:absolute;
	right:0px;
	margin-right:200px;	
	}

.content{
	width:100%;
	font-size:14px;
	}
.title2{
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	padding-top: 15px;
	font-size:18px;
	color:#09C;
	}
a{
	text-decoration: none;
	margin-left:20px;
	display:block;
	width:100px;
	float:right;
	text-align:center;
	color:#fff;
	background:#39C;
	height:30px;
	line-height:30px;
	margin-top:4px;
	}
a:hover{
	background:#6FF;
	}