@charset "utf-8";
/* CSS Document */

tr,td,th{
	border:1px solid #ccc;
	}
table{
	padding:0px;
	margin:0px auto;
	width:900px;
	height:550px;
	}
.container{
	width:100%;
	height: 100%;
	}
.title{
	width:100%;
	height:45px;
	line-height:45px;
	color:#fff;
	font-size:16px;
	background:#069;
	text-align:center;
	}
.button{
	display:block;
	width: 100%;
	height: 60px;
	text-align: center;
	margin-top:20px;
	}
.button1{
	width:120px;
	height:35px;
	border: 1px solid #09c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:#dbeef5;
	margin-left:45%;
	}
.button1:hover{
	background:#fff;
	cursor:pointer;
	}
a{
	display:block;
	line-height:200%;
	text-decoration:none;
	}
.container{
	width:100%;
	height: 100%;
	}
.title{
	width:100%;
	height:45px;
	line-height:45px;
	color:#fff;
	font-size:16px;
	background:#069;
	text-align:center;
	}